
<p>
  <strong>
    Message: 
  </strong>
  <%= @twit.message %>
  <p>
    <strong>
      User: 
    </strong>
    <%= @twit.user.username %>
  </p>
</p>

<%= link_to 'Edit this twit', edit_twit_path(@twit), class: "btn btn-sm btn-default" %>
<%= link_to 'Show all twits', twits_path, class: "btn btn-sm btn-default" %>
