/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.center-vertical {
  padding-top:10%;
}


/*
##################
##################
## navbar ########
##################
##################
*/
.nav-mid a:hover, a:focus {
  color: #fff !important;
  text-decoration: none !important;
}
.nav-out {
  //z-index: 90;
  background-color: #36465d;
  position: fixed;
  width: 100%;
}


.nav-mid {
  //position: relative;
  width: 100%!important;
  max-width: 1300px;
  left: 0;
  top: 0;
  margin: auto;
  padding: 0 20px 0 0;
  min-width: inherit;
  height: 54px;
}

.tab-menu-down {
  padding-top: 12px;
}
.font-awesome-menu {
  color: #fff;
  font-size: .7em;
  padding-left:4px;
  padding-right:4px;
}




